{% extends 'base.html' %}

{% block content%}

<h1>Hello this is about</h1>

<p>
    <!-- This is called context variable   -->
    {{ my_text }}, {{ my_number }}, {{ my_list }}
</p>

<ul>
    {% for item in my_list %}
        {% if item == 675 %}
            <li>{{ forloop.counter }} - {{ item | add:10000000 }} </li>

        <!--  Similarly elif      -->

        {% else %}
            <li>{{ forloop.counter }} - {{ item }} </li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}




<!--Notes as takeaways-->

<!--the variables are in double curly brackets,
    while all the for loops and block are in single bracket
-->